<div class="post-header">
  <div class="post-title">
    <%- page.title %>
  </div>
  <div class="post-meta">
    <p><%- list_tags(page.tags, {class: 'tag', show_count: false, style: false}) %> — <span class="datetime"><%- full_date(page.date, 'LL') %></span></p>
  </div>
</div>
  <%- page.content%>
  <div class="post-comments">
    <% if (theme.comments.button) { %>
      <button class="btn" id="comments-btn"><%= __('post.comments.btn') %></button>
    <% } %>
    <%- partial('partial/comments/' + theme.comments.type) %>
  </div>