<% if (theme.valine.appId && theme.valine.appKey) { %>
    <div id="valine"></div>
    <script src="https://unpkg.com/valine/dist/Valine.min.js" defer></script>
    <script>
      window.onload = function () {
        var loadValine = function () {
          new Valine({
            el: '#valine',
            appId: "<%= theme.valine.appId %>",
            appKey: "<%= theme.valine.appKey %>",
            placeholder: "<%= theme.valine.placeholder %>",
            avatar: "<%= theme.valine.avatar %>",
            pageSize: "<%= theme.valine.pageSize %>",
            lang: "<%= theme.valine.lang %>",
            serverURLs: "https://hvqwhnaq.api.lncldglobal.com",
            visitor: true
          });
        }
        if ("<%- theme.comments.button %>") {
          const commentsBtn = document.querySelector("#comments-btn")
          commentsBtn.addEventListener("click", function () {
            commentsBtn.style.display = "none";
            loadValine();
          }, false);
        } else {
          loadValine();
        }
      };
    </script>
<% } %>